@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap');


#main p {
  color: #173540;
  font-size: 15px;
  line-height: 1.6;
}
#main h2{
     font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #173540;
}
 #main h3{
    
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #217373;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;

}

body {
  margin: 0;
  padding: 0;
}


main{
    width: 80%;
    margin: auto;
    background-color:#FFFFFF ;
    /*flex padre*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}



/* -------------------- MENU START -------------------- */

header {
    width: 100%;
    background-color: #217373;
    /* Es flex Padre*/
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items:center ;
    /* para que el menu se quede pegado arriba */
    position: sticky;
    z-index: 9;
    top: 0;
}

/* MENU PRIMERA PARTE */

#menu_logo{
    width: 90%;
    padding: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;   
}

#menu_logo img{
    width: 30px;
    vertical-align: middle;
}

#menu_logo a{
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: 0 1px 0 1px;
    vertical-align: middle;
}

/* MENU SEGUNDA PARTE */

#menu_bar{
    background-color: #173540;
    width: 100%;

}

#menu_links{
    max-width: 1200px;
    width: 70%;
    list-style: none;
    /* flex padre para los links */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* para mandar al hijo a la derecha */
    justify-content: flex-end;
    margin-left: auto;
    flex-grow: 1;
    flex-shrink: 1;
}
 
#menu_links a{
    text-decoration: none;
    height: 100%;
    padding: 15px;
    color: white;
    font-weight: bold;
    text-align: center;
    /* flex hijo para los a */
    flex-grow: 1;
    flex-shrink: 1;

}


#menu_links a:hover{
    color: #84b026;
    transition: 0.5s;
}


/* === Submenú === */
.sub-menu-independiente {
  padding: 10px 0;
  width: 100%;
}

.sub-menu-independiente ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  margin: 10px;
  padding: 0 40px;
}

.sub-menu-independiente li a {
  color: white;
  text-decoration: none;
  padding: 8px 12px;
  background-color: #217373;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.sub-menu-independiente li a:hover {
   background-color: #84B026;
}

/* === Grid Section === */
.grid-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; 
}

.section {
  width: 325px;
  background-color: #FFFFFF;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px;
  border: 1px solid #217373;
 transition: transform 0.3s, box-shadow 0.3s;
  
}





/* === Contenido === */
.contenido {
  text-align: center;
  margin: 0 auto;
  max-width: 600px;
}

.contenido img {
  width: 100%;
  height: auto;
}

#main img {
  width: 100%;
  transition: transform 0.3s ease;
  object-fit: cover;
}

#main img:hover {
  transform: scale(1.1);
}

/* === Boton modal === */
.boton-modal {
  padding: 20px;
  background-color: transparent;
  text-align: center;
}
 .boton-modal label{
    padding: 10px 15px;
    background: linear-gradient(100deg, #217373, #173540);
    color: #FFFFFF;
    border-radius: 4px;
    cursor: pointer;
    transition: all 1000ms ease;   
 }

 .boton-modal label:hover{
     background: #84B026;
 }
 /*fin de modal*/

 /*ventana modal*/
 #btn-modal{
    display: none ;
 }
 .container-modal{
    width: 100%;
    height: 100vh ;
    position: fixed;
    top: 0; left: 0;
     background-color: rgba(33, 115, 115, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
 }

/*#btn-modal:checked ~.container-modal{
 display: flex;
}*/
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"]:checked + .container-modal {
  display: flex;
}

 .content-modal{
    width: 100%;
    max-width:  400px;
    padding: 20px;
    background-color: #FFFFFF;
     border: 2px solid #217373;
    border-radius: 4px ;
 }
 .container-modal h2{
    margin-bottom: 15px;
 }

  .container-modal p{
    padding: 15px 0px;
    border-top:1px solid #dbdbdb ;
    border-bottom: 1px solid #dbdbdb;
 }

 .content-modal .btn-cerrar{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
 }

 .content-modal .btn-cerrar label{
    padding: 7px 10px;
    background-color:#173540;
    color: #FFFFFF;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;   
 }

 .content-modal .btn-cerrar label:hover{
    background-color:#173540
 }

.cerrar-modal { 
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0; left: 0;
    z-index: -1;
    background-color: transparent;}
    
@media screen and (max-width: 900px) {
  .grid-section {
    grid-template-columns: 1fr;
  }
}

/* === Texto === */
article p {
  margin: 6px 0;
}

article h2 {
  margin: 6px 0;
}



/* -------------------- FOOTER START -------------------- */

#footer_width{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #173540;
}

#footer_main{
    max-width: 1920px;
    width: 90%;
    display: flex;
    flex-direction: column;
    color: white;
}

#footer_logo{
    width: 100%;
    padding: 25px 20px 0 20px;
    align-items: center;
}

#footer_logo img{
    width: 200px;
    vertical-align: middle;
    padding: 10px 0;
}

#footer_logo a{
    padding: 20px;
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

#footer_body{
    width: 100%;
    padding: 0px 20px 0px 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}



#footer_contactos{
    padding-bottom: 20px;
}


#footer_siguenos{
    width: 150px;
    padding: 10px 0 10px 0;
}

#footer_social{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


#footer_social a{
    padding: 10px 0 10px 0;
}

#footer_social img{
    max-width: 25px;
}

#footer_links{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    padding: 50px;
}

#footer_links a{
    text-decoration: none;
    color: white;
    padding: 5px;
}

#footer_trademark{
    width: 100%;
    padding: 0 20px 25px 20px;

    font-weight: bolder;
    font-size: 20px;
}


@media screen and (max-width: 900px){
    
    #footer_body{
    flex-direction: column;
    }

    
    #footer_contactos{
        padding-bottom: 50px;
    }

    #footer_links{
        align-items: center;
    }

    #footer_logo{
        text-align: center;
        padding-bottom: 50px;
    }

    #footer_logo img{
        width: 300px;
    }


    #footer_siguenos{
        width: 200px;
        text-align: center;
        align-items: center;
        
    }

    
    #footer_siguenos h3{
        text-align: center;

        
    }


}

/* -------------------- FOOTER END -------------------- */


/* En teoria, todo deberia estar con un maximo de FHD para que funcione bien
@media(max-width:1920px){